<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
  <link rel="stylesheet" href="/css/mainStyle.css">
  <link rel="stylesheet" href="/css/dashboard.css">
  <script type="text/javascript" src="/js/classie.js"></script>
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
</head>
<body>
  <div class="container">
      <div class="w-head">
          <nav>
            <ul class="w-nav">
                <li role="presentation"><a class="nav-items" href="/users/logout">Logout</a></li>
                <li role="presentation"><a class="nav-items" href="/users/register">Register</a></li>
                <li role="presentation"><a class="nav-items" href="/users/login">Login</a></li>
                <li role="presentation"><a class="nav-items" href="/"/>Dashboard</a></li>
            </ul>
          </nav>
      </div>
      {{{body}}}
    </div>
    <div class="footer">

    </div>
</body>
</html>
