<div class="content">
  <span class="intro">
    <h2 id="intro-nav">LOGIN</h2>
    <p>let's login</p>
  </span>
  <div class="field">
    <section class="input-content">
      <h2>Sign in</h2>
      <form class="" action="index.html" method="post">
        <div class="input-div-field">
          <input class="input-field" id="input-1" type="email" placeholder="Email"/>
          <label class="input-label" for="input-1"></label>
        </div>
        <div class="input-div-field">
          <input class="input-field" id="input-2" type="password" placeholder="Password"/>
          <label class="input-label" for="input-2"></label>
        </div>
      </form>
    </section>
  </div>
</div>
