body
{
  margin: 0;
  padding: 0;
  background: url(../images/login.jpg);
  font-family: sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 600px 600px 1fr;
  grid-template-areas:
  "h h h h"
  ". c c ."
  "f f f f"
  ;
}

/*-----SET GRID AREAS FOR THE PAGE-----*/
.content {
  grid-area: c;
}
.w-head {
  grid-area: h;
}
.footer {
  grid-area: f;
}

    /*-----HEADER-----*/
    .w-head
    {
        height: 100px;
        background: rgba(255, 255, 255, 0.3);
    }
    .w-nav > li
    {
        display: inline;
        float: right;
        margin: 1em;
        font-size: 20px;
        transition: .3s;

    }
    .nav-items
    {
        text-decoration: none;
        color: #eee;
        transition: .3s;
    }
    .nav-items:hover
    {
        color: rgba(155, 200, 255, .8);
        transition: .5s;
    }
    li:hover{
        font-size: 23px;
        color: #eee;
        transition: .5s;
    }

/*-----REGISTER, LOGIN AND LOGOUT-----*/

.field
{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
  border-radius: 5px;
  transition: .5s;
}
.field:hover
{
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
  background: transparent;
  transform: translate(-51%, -51%);
  transition: .5s;
}
.input-content
{
  width: 100%;
  heigth: 100%;
  padding: 40px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, .1);
  border-radius: 5px;
  transition: .5s;

}
.input-content > h2
{
  margin: 0;
  padding: 0 0 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
/*.input-label-content
{
  margin: 0;
  padding: 0 0 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}*/
.field input[type="email"],
.field input[type="text"],
.field input[type="password"]
{
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 40px;
  color: rgba(255, 255, 255, 1);
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}
.input-div-field
{
  position: relative;
  margin-top: 1em;
}
::placeholder
{
  color: rgba(255, 255, 255, .7);
}
